.header
{
    color: #30110D;
    text-align: center;
    font-size: 40px;
}

.text
{
    color: #30110D;
    text-align: center;
}

.body
{
    background-color: #F2BC94;
}

.begin{
    background-color:#722620;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #pagetwo {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }

.game
{
    width: 1250px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    cursor: url(images/mid.png) 25 15, auto;
    background-color: #FFFFFF;
}


#hill
{
    width: 140px;
    height: 100px;
    position: relative;
    top: 356px;
    left: 857px;

    background-image: url(images/hill.jpg);
    background-size: 140px 100px;
    border-style: solid;
    border-width: 3px;
    
    animation: hill 2s infinite linear alternate;
    animation-play-state: paused;
}


@keyframes hill 
{
    0% {left: 857px;}
    100% {left: 0px;}
}


#opp
{
    width: 140px;
    height: 100px;
    position: relative;
    top: 75px;
    left: 850px;

    background-image: url(images/guy_backwards.jpg);
    background-size: 140px 100px;
    border-style: solid;
    border-width: 3px;

    animation: opp 1.5s linear alternate infinite;
    animation-play-state: paused;

}

@keyframes opp 
{
    0% {left: 850px;}
    100% {left: 0px;}
}

#apple
{
    width: 50px;
    height: 50px;
    top: 40px;
    left: 650px;
    position: relative;

    background-image: url(images/apple.jpg);
    background-size: 50px 50px;
    border-style: solid;
    border-width: 3px;

    animation: apple 0.5s linear alternate infinite;
    animation-play-state: paused;

}

@keyframes apple
{
    0% {top: -300px;} /*top*/
    100% {top: 15px;}

}


#peach
{
    width: 50px;
    height: 50px;
    position: relative;
    top: -135px;
    left: 350px;

    background-image: url(images/peach.jpg);
    background-size: 50px 50px;
    border-style: solid;
    border-width: 3px;

    animation: peach 1s ease alternate infinite;
    animation-play-state: paused;

}

@keyframes peach
{
    0% {top: -360px;}
    100% {top: -35px;}
}

#red
{
    width: 80px;
    height: 80px;
    position: relative;
    top: -700px;
    left: 20px;

    background-image: url(images/red.png);
    background-size: 80px 80px;
    
}

#shrub
{
    width: 500px;
    height: 100px;
    position: relative;
    top: -300px;
    left: 131px;
    border-style: solid;
    border-width: 3px;

    background-image: url(images/leaves_reverse.jpg);
    background-size: 500px 100px;
    
}

#tree
{
    width: 500px;
    height: 100px;
    position: relative;
    top: -195px;
    left: 640px;
    border-style: solid;
    border-width: 3px;

    background-image: url(images/leaves_reverse.jpg);
    background-size: 500px 100px;
    
}


#finish
{
    width: 200px;
    height: 200px;
    position: relative;
    top: -300px;
    left: 1050px;

    background-image: url(images/finish.jpg);
    background-size: 200px 200px;
    
}

/*sets the image of the mouse cursor*/
#follow {
    /*cursor: url(http://placehold.it/50x30) 25 15, auto; */
    position: absolute;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: red;
  }

